* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #55a4ff;
}

.priority-high { color: red; font-weight: bold; }
.priority-medium { color: orange; }
.priority-low { color: blue; }